In [2]:
import json
import pandas as pd

In [8]:
with open('../dataset/train/annotations/annotations.json', 'r') as f:
    anno_file = json.load(f)
    annotation = anno_file['annotations']
pd_anno = pd.DataFrame(annotation)
pd_anno.describe()

               id    image_id  category_id          area  iscrowd
count  765.000000  765.000000        765.0    765.000000    765.0
mean   382.000000  299.031373          0.0  10988.881046      0.0
std    220.980768  172.768326          0.0  10522.209522      0.0
min      0.000000    0.000000          0.0    840.000000      0.0
25%    191.000000  154.000000          0.0   4830.000000      0.0
50%    382.000000  300.000000          0.0   7232.000000      0.0
75%    573.000000  446.000000          0.0  11814.000000      0.0
max    764.000000  599.000000          0.0  52402.000000      0.0

In [9]:
with open('../dataset/train/annotations/train.json', 'r') as f:
    anno_file_train = json.load(f)
    annotation = anno_file_train['annotations']
pd_anno_train = pd.DataFrame(annotation)
pd_anno_train.describe()

               id    image_id  category_id          area  iscrowd
count  692.000000  692.000000        692.0    692.000000    692.0
mean   378.304913  296.131503          0.0  10897.726879      0.0
std    222.140223  173.716326          0.0  10343.311155      0.0
min      0.000000    0.000000          0.0    840.000000      0.0
25%    183.750000  147.000000          0.0   4819.500000      0.0
50%    380.000000  298.000000          0.0   7183.500000      0.0
75%    570.250000  444.250000          0.0  11910.000000      0.0
max    764.000000  599.000000          0.0  52337.000000      0.0

In [10]:
with open('../dataset/train/annotations/val.json', 'r') as f:
    anno_file_val = json.load(f)
    annotation = anno_file_val['annotations']
pd_anno_val = pd.DataFrame(annotation)
pd_anno_val.describe()

               id    image_id  category_id          area  iscrowd
count   73.000000   73.000000         73.0     73.000000     73.0
mean   417.027397  326.520548          0.0  11852.972603      0.0
std    207.857388  162.062069          0.0  12134.344968      0.0
min      5.000000    4.000000          0.0   1080.000000      0.0
25%    262.000000  207.000000          0.0   5304.000000      0.0
50%    402.000000  318.000000          0.0   7986.000000      0.0
75%    593.000000  463.000000          0.0  10354.000000      0.0
max    761.000000  596.000000          0.0  52402.000000      0.0